.header {
    background: #242429;
    height: 250px;
}

.header h1 {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.header h2 {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    color: white;
    font-size: 2rem;
}